body, header, footer, #main, nav, section, div, p, ul, ol, li, h1, h2, h3 {
	color: #333;
	font-size: 14px;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	border: none;
}

h1 {
	font-size: 2em;
	color: #128A9A;
	margin: 5px 0;
	padding: 0 5px;
}

h2 {
	font-size: 1.5em;
	color: #128A9A;
}

a {
	color: #4ED6EB;
}

a:active, a:hover {
	color: #128A9A;
}

header, #banner-content, #twitch, #main, #contact-page {
	width: 70%;
	max-width: 1100px;
	min-width: 900px;
	margin: 0 auto;
}

header {
	height: 88px;
	padding: 10px;
	text-align: right;
}

header a {
	height: inherit;
}

#header-logo {
	height: inherit;
	float: left;
}

header nav::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

header nav {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

header nav a {
	font-size: 1.5em;
	text-decoration: none;
	font-weight: bold;
	margin: 0 0 0 30px;
	color: #128A9A;
}

#banner {
	height: 120px;
	background: #128A9A url("/images/banner_bg.png") repeat-x;
	margin-bottom: 10px;
}

#banner #banner-content {
	padding: 8px 0;
}

#banner #banner-content h1, #banner #banner-content h2 {
	text-align: center;
	color: white;
}

#twitch {
	text-align: center;
	margin: 10px auto;
	padding: 10px;
	border: 2px solid rgba(78,214,235, 0.3);
	background-color: rgba(78,214,235, 0.1);
	border-radius: 5px;
	width: 67%;
	visibility: hidden;
	display: none;
}

#twitch a {
	color: #128A9A;
}

#team-members, #team-twitter {
	width: 49%;
	display: inline-block;
}

#team-members {
	margin-bottom: 50px;
}

#team-members #team-cards {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
}

#team-members .team-card {
	width: 43%;
	border: 1px solid rgba(78, 214, 235, 0.2);
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	padding: 5px;
}

#team-members .team-card img {
	width: 100%;
}

#team-members .team-card-info {
	min-height: 110px;
}

#team-members .team-card-info h2 {
	margin-bottom: 5px;
}

#team-members .team-card-btns {
	margin-top: 17px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#team-members .team-card-btns a {
	margin: 5px 0;
	padding: 5px 7px;
	border-radius: 5px;
	background-color: #128A9A;
	text-decoration: none;
	color: white;
}

#team-members .team-card-btns a:nth-child(4) {
	margin: 5px auto;
}

#team-twitter {
	float: right;
}

#team-twitter #twitter-iframes {
	border: 1px solid rgba(78, 214, 235, 0.2);
	border-radius: 5px;
	margin: 10px 5px;
}

#contact-page h1 {
	margin: 1em 0 0.5em;
}

#contact-page h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#contact-page p {
	line-height: 1.4em;
	margin-bottom: 10px;
}

#contact-form {
	margin: 15px 0;
}

#contact-form div {
	margin: 5px 0;
}

#contact-form label {
	width: 75px;
	display: inline-block;
}

#contact-form input[type="text"], #contact-form textarea {
	min-width: 200px;
	width: 40%;
	border: 1px solid #128A9A;
}

#contact-form input[type="submit"] {
	margin-left: 78px;
	border: 1px solid #128A9A;
	background-color: #128A9A;
	color: white;
	font-weight: bold;
	padding: 5px 7px;
	border-radius: 5px;
}

@media (max-width: 1024px) {
	
	header, #banner-content, #twitch, #main, #contact-page {
		width: 95%;
		min-width: 400px;
		margin: 0 auto;
	}
	#team-members {
		width: 65%;
	}
	
	#team-twitter {
		width: 32%;
	}
	
}

@media (max-width: 768px) {
	header, #banner-content, #twitch, #main, #contact-page {
		max-width: 500px;
		margin: 0 auto;
	}
	
	#banner {
		display: none;
		visibility: hidden;
	}
	
	#team-members, #team-twitter {
		min-width: 210px;
		width: 50%;
	}
	
	#team-members .team-card {
		width: 90%;
		max-width: 200px;
	}
	
}

@media (max-width: 450px) {
	
	header, #banner-content, #twitch, #main, #contact-page {
		width: 100%;
		max-width: 100%;
		min-width: 100px;
		padding: 0;
	}
	
	header {
		text-align: center;
		height: auto;
	}
	
	header a {
		margin: 0 auto;
	}
	
	header #header-logo {
		float: none;
		display: block;
		height: 100px;
		margin: 0 auto 10px;
	}
	
	header nav {
		display: inline-block;
		height: auto;
		width: auto;
		margin: 0 auto;
		text-align: center;
	}
	
	header nav a {
		margin: 0 10px;
	}
	
	#team-members, #team-twitter {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	
	#team-members h1, #team-members #team-cards, #team-twitter h1 {
		display: inline-block;
		width: auto;
	}
	
	#team-members h1, #team-twitter h1, #contact-page h1 {
		background-color: #128A9A;
		color: white;
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
	}
	
	#team-members .team-card img {
		display: none;
		visibility: hidden;
	}
	
	#team-members .team-card-info {
		min-height: 50px;
	}
	
	#team-members .team-card-btns {
		margin: 5px 0;
	}
	
	#team-twitter {
		float: none;
		margin-top: 20px;
	}
	
	#team-twitter #twitter-iframes {
		width: 200px;
		margin: 0 auto;
	}
	
	.accordion-heading {
		cursor: pointer;
	}
	
	.accordion-content {
		display: none !important;
		visibility: hidden;
	}
	
	#contact-page h1 {
		text-align: center;
	}
	
	#contact-page h2, #contact-page p {
		padding-left: 10px;
		padding-right: 10px;
	}
	
}

